@tailwind base;
@tailwind components;
@tailwind utilities;

/* Initial styling */
.transition-top {
  transition: top 1s ease; /* You can adjust the duration and easing function as needed */
}
.hide-scroll-bar{
    -ms-overflow-style: none;
}
.hide-scroll-bar::-webkit-scrollbar{
    display: none;
}
